.review-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: var(--yellow-EM);
  border-radius: 20px;
  border: black 5px solid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.review-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out;

}

.review-item h2 {
  margin: 0;
  color: #333;
  font-size: 1.5em;
}

.review-item p {
  margin: 10px 0;
  color: #666;
}

mat-progress-bar {
  margin-top: 10px;
}

h1 {
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
  color: #000000;
  font-size: 2.5em;
}

.mat-card-title {
  color: #25328B;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.review-item:hover {
  transform: scale(1.02);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
