<app-toolbar-customer></app-toolbar-customer>
<div class="content">
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
    <div class="container">
      <h2>Phone</h2>
      <mat-card class="info">
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
    </div>
    <div class="container">
      <h2>Email</h2>
      <mat-card class="info">
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
    </div>

    <div class="example-button-row">
      <button mat-flat-button color="primary">Edit</button>

    </div>
  </div>
  <div>
    <h1>History</h1>
    <mat-list role="list">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Small</mat-card-subtitle>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{longText}}
        </mat-card-content>
      </mat-card>
    </mat-list>
  </div>
</div>





