<app-toolbar-customer></app-toolbar-customer>

<div class="main-container">
  <div class="content">
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ (profileData$ | async)?.name }}</mat-card-title>          <mat-card-subtitle>Customer Profile</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <div class="container">
        <h2>Phone</h2>
        <mat-card class="info">
          <mat-card-content>Not Available</mat-card-content>
        </mat-card>
      </div>
      <div class="container">
        <h2>Email</h2>
        <mat-card class="info">
        </mat-card>
      </div>

      <div class="example-button-row">
        <button mat-flat-button color="primary" (click)="navigateToEditProfileUser()" >Edit</button>
      </div>
    </div>
  </div>

  <div class="right-container" >
    <h1>History</h1>
    <mat-list role="list">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>White Rice</mat-card-title>
            <mat-card-subtitle>Food</mat-card-subtitle>
            <img mat-card-sm-image src="https://m.media-amazon.com/images/I/71jZbOIH7iL.jpg" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            The rice bag contains a lot of quality provided by this company. Buy Now!</p>
        </mat-card-content>
      </mat-card>
    </mat-list>
  </div>

</div>







