<div class="product-list-header">
  <h1>Lista de Productos</h1>
  <div class="search-container">
    <mat-form-field appearance="fill">
      <input matInput placeholder="Buscar">
    </mat-form-field>
  </div>
</div>

<div class="product-cards">
  <div class="card-row" *ngFor="let row of rows">
    <div class="card-column" *ngFor="let product of rows">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.type }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="product.urlImage" alt="Photo of {{ product.name }}" style="width: 200px;">
        <mat-card-content>
          <strong>{{ product.price }}</strong>
          <p>{{ product.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<button mat-fab color="primary" class="floating-button" aria-label="Add">
  <mat-icon>add</mat-icon>
</button>

