<app-toolbar-content></app-toolbar-content>
<div class="product-list-header">
  <h1>Products List</h1>
  <div class="search-container">
    <mat-form-field appearance="fill">
      <input matInput placeholder="Buscar" [formControl]="searchControl">
    </mat-form-field>
  </div>
</div>

<div class="product-cards">
  <mat-card class="example-card" *ngFor="let product of filteredRows">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.type }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="product.urlImage" alt="Photo of {{ product.name }}" style="width: 200px;">
        <mat-card-content>
          <strong>{{ product.price }}</strong>
          <p>{{ product.description }}</p>
        </mat-card-content>
  </mat-card>
</div>

<button mat-fab color="primary" class="floating-button" aria-label="Add">
  <mat-icon>add</mat-icon>
</button>

