.example-card {
  max-width: 400px;
  background-color: transparent;
  margin-left: 100px;
  margin-top: 50px;
  border: 0.5px solid black;
  box-shadow: 20px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.info {
  width: 250px;
  height: 50px;
  background-color: transparent; /* Establece el color de fondo a transparente */
}

.mat-card-content {
  border: none; /* Elimina los bordes */
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.info {
  width: 250px; /* Disminuir el ancho del elemento .info */
  height: 50px;
}


.container {
  display: flex;
  width: 400px; /* Aumentar el ancho del contenedor .container */
  margin-top: 20px;
  margin-left: 100px;
  justify-content: flex-end;

}


h2 {
  color: black;
  font-size: 17px;
  margin-right: 80px;
  margin-top: 5px;
}


.example-button-row {

  display: flex;
  width: 400px; /* Aumentar el ancho del contenedor .container */
  margin-top: 20px;
  margin-left: 100px;
  justify-content: center;
}

.content {
  display: flex;

}

[role="list"] {

  margin-left: 150px;
  border: 0.5px solid black;
  width: 100%;
}

h1 {
  margin-left: 150px;
  margin-top: 50px;
}
