<app-toolbar-content></app-toolbar-content>
<div class="content">
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + company?.profileImage + ')'}"></div>        <mat-card-subtitle>
          <span>{{company.name}}</span>
        <br>
          <span>{{company.email}}</span>
          <br>
          <span>{{company.ruc}}</span>
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image :src="{{company.profileImage}}" alt="Photo of a Shiba Inu">
    </mat-card>
    <div class="container">
      <h2>Description: </h2>
      <mat-card class="info mat-card-content">
        <span>{{company?.description}}</span>
      </mat-card>
    </div>

    <div class="example-button-row">
      <button mat-flat-button color="primary" routerLink="/profile/edit-profile" >Edit</button>

    </div>
  </div>
  <div>
    <h1>Your products in sale: </h1>
    <mat-list role="list">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>White Rice</mat-card-title>
            <mat-card-subtitle>Food</mat-card-subtitle>
            <img mat-card-sm-image src="https://m.media-amazon.com/images/I/71jZbOIH7iL.jpg" >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>
            The rice bag contains a lot of quality provided by this company. Buy Now!</p>
        </mat-card-content>
      </mat-card>
    </mat-list>
  </div>
</div>





