<app-toolbar-content></app-toolbar-content>
<div class="content">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Seller</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
    <form class="container2" [formGroup]="profileForm">
      <div class="container">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
        <mat-card class="info">
          <mat-card-content>{{ profileForm.get('phone')?.value }}</mat-card-content>
        </mat-card>
      </div>
      <div class="container">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
        <mat-card class="info">
          <mat-card-content>E-mail</mat-card-content>
        </mat-card>
      </div>

      <div class="example-button-row">
        <button mat-flat-button color="primary" routerLink="/profile/edit-profile" >Edit</button>
      </div>
    </form>
</div>





