<app-toolbar-customer></app-toolbar-customer>
<div class="product-list-header">
  <h1>Products on sale</h1>
  <div class="search-container">
    <mat-form-field appearance="fill">
      <input matInput placeholder="Buscar" [formControl]="searchControl">
    </mat-form-field>
  </div>
</div>

<div class="product-cards">
    <div class="card-column" *ngFor="let product of filteredRows">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>Type: {{ product.type }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="product.urlImage" alt="Photo of {{ product.name }}" style="width: 200px;">
        <mat-card-content>
          <strong> Price: {{ product.price }} soles</strong>
          <p>{{ product.description }}</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Introduce the quantity: </p>
          <mat-form-field>
            <input matInput type="number" placeholder="Quantity" [(ngModel)]="quantity" required>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="addToCart(product,this.quantity)">Add To Card</button>

        </mat-card-footer>
      </mat-card>
    </div>
</div>

<button mat-fab color="primary" class="floating-button" aria-label="Add" routerLink="/shopping-cart">
  <strong>Go to Cart</strong>
</button>

