footer {
  background-color: var(--blue-EM);
  color: var(--white);
  padding: 10px 0;
  font-family: var(--titan-one);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.product-info, .startup-info {
  width: 45%;
}

.product-info h2, .startup-info h2 {
  color: var(--yellow-EM);
}

.product-info ul, .startup-info p {
  color: var(--white);
}

.product-info ul {
  list-style-type: none;
  padding: 0;
}

.product-info ul li a, .startup-info p a {
  color: var(--white);
  text-decoration: none;
}
