/* Estilos por defecto para la barra de herramientas */
.toolbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--blue-EM);
}

mat-toolbar{
  background-color: var(--blue-EM);
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.menu-item {
  margin-right: 80px;
  text-align: center;
}

.menu-item:first-child {
  margin-left: 10%;
}

.items {
  margin-left: 40px;
}

mat-toolbar button {
  color: white;
  font-family: var(--titan-one);
}

span{
  font-family: var(--titan-one);
  font-size: 1em;
  margin-left: 10px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .toolbar-content {
    flex-direction: column;
  }

  .menu-item {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .items {
    margin-left: 0;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  .toolbar-content {
    flex-direction: row;
    justify-content: space-around;
  }

  .menu-item {
    margin-right: 20px;
    text-align: center;
  }

  .items {
    margin-left: 10px;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
  .toolbar-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-item {
    margin-right: 80px;
    text-align: center;
  }

  .items {
    margin-left: 40px;
  }
}
