

body {
  display: inline-flex;
  position: relative; /* Es necesario para que el hijo se posicione correctamente */
  font-family: "Titan One", sans-serif;
  width:100%;
  height: 100vh;
  overflow-x: hidden;
  z-index: 1;
}

h2 {
  font-family: "Titan One", sans-serif;
  color: #25328B;
  text-align: center ;
  margin-top: 20px;
  font-size: 30px;
  margin-left: auto;

}


.register-container {
  margin-top: 20px;
  display: inline-block;
  background-color: #F8BD00;
  width: 28.5%;
  margin-left: 0%;
  height: 50%;
}

.form-group {

  display: grid;
  margin-bottom: 5px;
  width: 93%;
  padding:20px;
}

label {
  font-size: 20px;
  color: #25328B;
  margin-bottom: 10px;
  text-align: center;

}

input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 22%;
}

.selection-container {
  width: 54%;
}

button {
  width: 50%;
  padding: 10px;
  background-color: #25328B;
  font-size: 20px;
  color: white;
  border-radius: 4px;
  border-color: black;
  cursor: pointer;
  margin-left:0px;
  margin-top: 80px;
  transform: translate(50%, -100%);
  font-family: "Titan One", sans-serif;

}

button:disabled {
  font-family: "Titan One", sans-serif;
  background-color: #ccc;
  color: #25328B;
  font-size: 20px;
  cursor: not-allowed;
}



.container-2 {
  height: 100%;
  background-color: #25328B;
  z-index: 2;

}
.container-2 img {
  height: 100%;
  position: absolute;
  width: 70%;
  top: 0;
}

@media (min-width: 992px) {
  .register-container {
    width: 35%;
  }

  input, mat-form-field {
    width: 50%;
    margin-left: 22%;
  }

  .selection-container {
    width: 54%;
  }

  button {
    width: 50%;
    transform: translate(50%, -100%);
  }

  .img img {
    height: 98%;
    width: 100%;
  }
}

/* Estilos para pantallas de tamaño medio (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .register-container {
    width: 50%;
  }

  input, mat-form-field {
    width: 70%;
    margin-left: 15%;
  }

  button {
    width: 70%;
    transform: translate(15%, -100%);
  }

  .img img {
    height: 98%;
    width: 100%;
  }
  .selection-container {
    width: 75%;
  }
}

/* Estilos para pantallas de tamaño pequeño (landscape phones, 576px and up) */
@media (max-width: 767px) {
  .register-container {
    width: 50%;
  }

  input, mat-form-field {
    width: 80%;
    margin-left: 5%;
  }

  button {
    margin-left: 5%;
    width: 80%;
    transform: translate(5%, -100%);
  }

  .img img {
    height: 98%;
    width: 100%;

  }

  .selection-container {
    width: 88%;
  }
}
