<body>
<div class="register-container">
  <h2>Registrarse</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-group">
      <label for="name">User</label>
      <input type="text" id="name" name="name" [(ngModel)]="name" required>
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div class="form-group">
      <label for="name">type</label>
      <mat-form-field class="selection-container">
        <mat-select [(value)]="selected">
          <mat-option value="Company">Company</mat-option>
          <mat-option value="Customer">Customer</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group" *ngIf="selected === 'Company'">
      <label for="ruc">RUC</label>
      <input type="text" id="ruc" name="ruc" [(ngModel)]="ruc" required>
    </div>
    <div class="form-group" *ngIf="selected === 'Company'">
      <label for="aboutDescription">About Description</label>
      <input type="text" id="aboutDescription" name="aboutDescription" [(ngModel)]="aboutDescription" required>
    </div>
    <button type="submit" [disabled]="!registerForm.form.valid">Sign Up</button>
  </form>
</div>
<div class="container-2">
  <img src='../../../../assets/register-2.jpg' alt="">
</div>
</body>
