.checkout {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.center-content {
  display: flex;
  justify-content: center;
}
button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  border-radius: 5px;
  border: blue 5px solid;
}

button:hover{
  background-color: #6f6fdc;
}

.center-button {
  display: flex;
  justify-content: center;
}

.pay{
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #b51e1e;
  border-radius: 5px;
  border: blue 5px solid;
}

.pay:hover{
  background-color: blue;
  text-decoration-color: black;
  color: black; /* Cambia el color del texto a negro */
  font-size: 20px; /* Aumenta el tamaño del texto */
}


.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

mat-card-title {
  font-size: 20px;
  font-family: "Titan One", sans-serif;
  align-items: center;
}



.shopping-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  border: black 5px solid;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}


.selector-method{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  background-color: transparent;
  border: black 5px solid;
}

.methods {
  display: flex;
  align-items: center;
}
